{% extends 'inpc_core/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <h2>{{ view.model._meta.verbose_name_plural|capfirst }}</h2>
        <a href="{% url model_name|add:'_new' %}" class="btn btn-primary mb-3">Ajouter</a>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for field in fields %}
                        <th>{{ field|capfirst }}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    {% for field in fields %}
                        <td>{{ object|getattr:field }}</td>
                    {% endfor %}
                    <td>
                        <a href="#" class="btn btn-sm btn-warning">Modifier</a>
                        <a href="#" class="btn btn-sm btn-danger">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}