{% extends 'inpc_core/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <h2>Moughataa</h2>
        <a href="{% url 'moughataa_create' %}" class="btn btn-primary mb-3">Ajouter une Moughataa</a>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Label</th>
                    <th>Wilaya</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for moughataa in object_list %}
                <tr>
                    <td>{{ moughataa.code }}</td>
                    <td>{{ moughataa.label }}</td>
                    <td>{{ moughataa.wilaya.name }}</td>
                    <td>
                        <a href="{% url 'moughataa_update' moughataa.pk %}" class="btn btn-sm btn-warning">Modifier</a>
                        <a href="{% url 'moughataa_delete' moughataa.pk %}" class="btn btn-sm btn-danger">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}