{% extends 'inpc_core/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <h2>Points de Vente</h2>
        <a href="{% url 'pointsdeventes_new' %}" class="btn btn-primary mb-3">Ajouter un Point de Vente</a>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom du Point</th>
                    <th>Région</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{ object.nom_point }}</td>
                    <td>{{ object.region.nom_region }}</td>
                    <td>{{ object.longitude }}</td>
                    <td>{{ object.latitude }}</td>
                    <td>
                        <a href="{% url 'pointsdeventes_edit' object.pk %}" class="btn btn-sm btn-warning">Modifier</a>
                        <a href="{% url 'pointsdeventes_delete' object.pk %}" class="btn btn-sm btn-danger">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}