{% extends 'inpc_core/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <h2>Produits</h2>
        <a href="{% url 'produits_new' %}" class="btn btn-primary mb-3">Ajouter un Produit</a>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom du Produit</th>
                    <th>Groupe de Produits</th>
                    <th>Pondération</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{ object.nom_produit }}</td>
                    <td>{{ object.groupe_produit.nom_group }}</td>
                    <td>{{ object.ponderation }}</td>
                    <td>
                        <a href="{% url 'produits_edit' object.pk %}" class="btn btn-sm btn-warning">Modifier</a>
                        <a href="{% url 'produits_delete' object.pk %}" class="btn btn-sm btn-danger">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}